.container {
  padding: 0 2rem;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  bottom: 1px;
}

.title {
  margin: 1rem;
  line-height: 1.15;
  font-size: 2rem;
  text-align: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70vh;
  p {
    font-weight: bold;
    animation: loadScreen 3s ease-in-out infinite;
  }
}

@keyframes loadScreen {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.paginatorTitle{
  text-align: center;
}

.paginator{
  display: flex;
  justify-content: center;
}
